In [1]:
import pandas as pd
from nltk.tokenize import word_tokenize, sent_tokenize

corpus = 'GeeksforGeeks is not a website or a company. GeeksforGeeks is a coding environment. Thats what i love. Which is good. Not bad at all'

# One Hot Encoding - Terminologies and Process

In [ ]:
                    ['all','at', 'bad', 'not','its']
'its not bad at all'     [1 , 1 , 1 , 1 , 1] 
'its not bad'            [0 , 0 , 1 , 1 , 1] 
'its bad'                [0 , 0 , 1 , 0 , 1] 
'not bad at all'         [1 , 1 , 1 , 1 , 0]

# Finding the Sequence

In [3]:
seq = set()

for word in word_tokenize(corpus):
    if(word != '.'):
        seq.add(word)
        
seq = list(seq)

print(seq)

['i', 'not', 'is', 'what', 'love', 'Not', 'good', 'at', 'coding', 'GeeksforGeeks', 'website', 'company', 'Thats', 'bad', 'Which', 'all', 'or', 'a', 'environment']

# Finding Index to Encode

In [6]:
data = []

for sent in sent_tokenize(corpus):
    index = []
    for word in word_tokenize(sent):
        if(word != '.'):
            index.append(seq.index(word))
            
    data.append(index)

print(data)

[[9, 2, 1, 17, 10, 16, 17, 11], [9, 2, 17, 8, 18], [12, 3, 0, 4], [14, 2, 6], [5, 13, 7, 15]]

# Encode the Sentances in One Hot Encoding Format

In [8]:
fin = []

for indexes in data:
    enc = [0 for x in range(len(seq))]
    for index in indexes:
        enc[index] = 1
    fin.append(enc)

print(fin)

[[0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0], [0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1], [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0]]

# Creating the DataFrame / Dataset

In [9]:
df = pd.DataFrame(fin, columns = seq)

df['Sentances_'] = sent_tokenize(corpus)
df.head()

,i,not,is,what,love,Not,good,at,coding,GeeksforGeeks,website,company,Thats,bad,Which,all,or,a,environment,Sentances_
0,0,1,1,0,0,0,0,0,0,1,1,1,0,0,0,0,1,1,0,GeeksforGeeks is not a website or a company.
1,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,1,GeeksforGeeks is a coding environment.
2,1,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,Thats what i love.
3,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,Which is good.
4,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,Not bad at all

In [ ]:
                                    ['This','is','not','bad','good','at','all']

'This is good, not bad at all'      [1,1,1,1,1,1]
'This is bad, not good at all'      [1,1,1,1,1,1]

In [10]:
[0 for x in range(1000)]



'This is good, not bad at all'

'This is good, not bad at all'

In [11]:
(7/10000)

0.0007