In [31]:
from nltk.tokenize import word_tokenize , sent_tokenize
from nltk.corpus import stopwords
import pandas as pd
corpus_1 ="India, the world's largest democracy, is a diverse and culturally rich country in South Asia. It is known for its ancient history, vibrant traditions, and rapid modernization. The country is home to iconic landmarks like the Taj Mahal, Jaipur's palaces, and the holy city of Varanasi." 
corpus_2 = 'Education is the foundation of a progressive society. It empowers individuals with knowledge, critical thinking skills, and the ability to make informed decisions. A well-educated population contributes to economic growth, scientific advancements, and social harmony. Education also plays a key role in reducing poverty and bridging social inequalities by providing equal opportunities to all.'
corpus_3 = 'Climate change is one of the most pressing global issues today. Rising temperatures, melting glaciers, and unpredictable weather patterns are clear indicators of its impact. Human activities, such as deforestation and excessive carbon emissions, have accelerated global warming. If not addressed, climate change will lead to more natural disasters, loss of biodiversity, and food and water shortages, affecting millions of lives worldwide.'
corpus_4 = 'Artificial Intelligence (AI) has revolutionized various industries, from healthcare to finance and even entertainment. AI-powered systems are improving medical diagnoses, automating business operations, and enhancing user experiences. While AI offers numerous benefits, concerns about job displacement and ethical issues remain. Striking a balance between AI advancements and human employment is crucial for a sustainable future.'

# Remove Stop Words And Creating Vocabulary

In [32]:
words = []

for word in word_tokenize(corpus_2):
    if(word.lower() not in stopwords.words('english')) and (len(word)>=2):
        words.append(word.lower())

vocab = list(set(words))

In [33]:
vocab

['make',
 'thinking',
 'poverty',
 'critical',
 'opportunities',
 'well-educated',
 'individuals',
 'skills',
 'economic',
 'empowers',
 'informed',
 'harmony',
 'growth',
 'role',
 'ability',
 'decisions',
 'plays',
 'bridging',
 'equal',
 'also',
 'foundation',
 'scientific',
 'social',
 'key',
 'contributes',
 'population',
 'education',
 'progressive',
 'reducing',
 'society',
 'inequalities',
 'providing',
 'knowledge',
 'advancements']

# Creating Count Dictionary

In [34]:
word_freq = {}

for word in vocab:
    word_freq[word]=0

In [35]:
word_freq

{'make': 0,
 'thinking': 0,
 'poverty': 0,
 'critical': 0,
 'opportunities': 0,
 'well-educated': 0,
 'individuals': 0,
 'skills': 0,
 'economic': 0,
 'empowers': 0,
 'informed': 0,
 'harmony': 0,
 'growth': 0,
 'role': 0,
 'ability': 0,
 'decisions': 0,
 'plays': 0,
 'bridging': 0,
 'equal': 0,
 'also': 0,
 'foundation': 0,
 'scientific': 0,
 'social': 0,
 'key': 0,
 'contributes': 0,
 'population': 0,
 'education': 0,
 'progressive': 0,
 'reducing': 0,
 'society': 0,
 'inequalities': 0,
 'providing': 0,
 'knowledge': 0,
 'advancements': 0}

# Count the frequency of words

In [40]:
words = []

for word in word_tokenize(corpus_2):
    if(word.lower() not in stopwords.words('english')) and (len(word)>=2):
        words.append(word.lower())

In [41]:
len(words)

36

In [42]:
len(set(words))

34

In [43]:
for word in words:
    word_freq[word] +=1

In [ ]:
word_freq

In [ ]:
data = []

for key in word_freq.keys():
    data.append([key,word_freq[key]])

In [44]:
data

[['diverse', 1],
 ['varanasi', 1],
 ['history', 1],
 ['landmarks', 1],
 ['mahal', 1],
 ['palaces', 1],
 ['largest', 1],
 ['ancient', 1],
 ['vibrant', 1],
 ['holy', 1],
 ['world', 1],
 ['rich', 1],
 ['traditions', 1],
 ['culturally', 1],
 ['taj', 1],
 ['rapid', 1],
 ['modernization', 1],
 ['jaipur', 1],
 ['like', 1],
 ['iconic', 1],
 ['india', 1],
 ['south', 1],
 ['democracy', 1],
 ['country', 2],
 ['city', 1],
 ['known', 1],
 ['home', 1],
 ["'s", 2],
 ['asia', 1]]

In [45]:
df = pd.DataFrame(data,columns = ['word','freq'])

In [46]:
df

             word  freq
0         diverse     1
1        varanasi     1
2         history     1
3       landmarks     1
4           mahal     1
5         palaces     1
6         largest     1
7         ancient     1
8         vibrant     1
9            holy     1
10          world     1
11           rich     1
12     traditions     1
13     culturally     1
14            taj     1
15          rapid     1
16  modernization     1
17         jaipur     1
18           like     1
19         iconic     1
20          india     1
21          south     1
22      democracy     1
23        country     2
24           city     1
25          known     1
26           home     1
27             's     2
28           asia     1

In [47]:
df.sort_values(by = 'freq' , ascending=False).head(3)

       word  freq
27       's     2
23  country     2
0   diverse     1